<div id="topps_footer">

	<div id="MLB_link">
		<a href="http://mlb.mlb.com/index.jsp" target="_blank"><%= image_tag "mlb_logo.gif",  alt: "MLB LOGO", class: "pngimg" %></a>
		</div>

		<div id="MLBPA_link">
		<a href="http://mlbplayers.mlb.com/pa/index.jsp" target="_blank"><%= image_tag "players_assoc_logo.png", alt: "MLBPA LOGO", class: "pngimg" %></a>
		</div>


		<div id="footer_text" >
		© 2012 The Topps Company, Inc. All Rights Reserved. TOPPS® AND TOPPS PENNANT ARE TRADEMARKS OF THE TOPPS COMPANY, INC.  |   <a href="http://pennant.topps.com/terms" >Terms & Conditions</a>   |   <a href="http://pennant.topps.com/privacy">Privacy Policy</a>   |   <a href="http://topps.com/contact" target="_blank">Contact Topps</a>
		   
		<br />
		Major League Baseball trademarks and copyrights are used with permission of MLB.com. All rights reserved. Visit <a "http://mlb.mlb.com/index.jsp" target="_blank">MLB.com</a>. <br />
		LICENSED BY MLBPA, 2012. © MLBPA. OFFICIAL LICENSEE – MAJOR LEAGUE BASEBALL PLAYERS ASSOCIATION. iTunes®, iPad® and iPhone® are registered trademarks of Apple Inc.
	</div>

</div> <!-- #topps_footer -->
