<%= stylesheet_link_tag "social_box" %>


<div id="social_box">
	   <a href="https://twitter.com/toppspennant" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true" data-width="60px">
	   		Follow @toppspennantt
	   </a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
			Tweet
		</a>
    	<div class="fb-like" data-send="false" data-layout="button_count" data-width="48" data-show-faces="true" data-font="verdana"></div>
	
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<script>

function OpenPopup (c) {
window.open(c,
'window',
'width=480,height=480,scrollbars=yes,status=yes');
}

</script>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


