<% if browser.mobile? %>
  <head>    <meta name="viewport" content="width=1400,
                                 maximum-scale=1.0">
</head>
  <style type="text/css">
    #footer {
      width: 1400px;
    }
    #header {
      width: 1400px;
    }

  </style>
<% end %>

<br><br><br>
<div id="info_text">

<br><br><br><b>TOPPS PENNANT TIME CAPSULE GIVEAWAY RULES</b>
<br>
<br>ELIGIBILITY
<br>OPEN ONLY TO LEGAL RESIDENTS OF THE 48 CONTIGUOUS STATES OF THE UNITED STATES AND THE
<br>DISTRICT OF COLUMBIA, AGES 13 OR OLDER. IF YOU ARE A MINOR (UNDER 18), GET PARENT'S /
<br>LEGAL GUARDIAN’S PERMISSION BEFORE ENTERING. Employees, officers and directors (and their
<br>immediate families and same household members, whether related or not) of The Topps Company
<br>Inc., ("Sponsor"), its parent, subsidiaries, affiliates, agencies and prize suppliers as well as MLB Entities
<br>(as defined below) are NOT eligible. Void in Alaska, Hawaii, Puerto Rico and where prohibited by law.
<br>Sponsor's computer is the official clock and shall be controlling in all respects.
<br>
<br>TEAM
<br>At the start of each promotion The Topps Company, Inc. will announce via the @ToppsPennant Twitter
<br>and Topps Pennant Facebook accounts a specific Major League Baseball team (henceforth referred to
<br>as “TEAM”) as the subject of the contest.
<br>
<br>DATES
<br>Giveaway start date and time will be announced at the beginning of each giveaway promotion by The
<br>Topps Company, Inc. through the @ToppsPennant Twitter account. All campaigns will run between the
<br>dates of July 23, 2012 and August 24, 2012.
<br>
<br>HASHTAG
<br>Appropriate entries submitted via Twitter will include a TEAM-based memories hashtag announced by
<br>The Topps Company, Inc. through the @ToppsPennant Twitter account at the outset of each giveaway.
<br>
<br>HOW TO ENTER
<br>Using your Pennant App*, take a screenshot of your favorite TEAM memory by holding the "Home"
<br>button and then the power button, or by using the in-app sharing button. TO COUNT AS A TEAM
<br>MEMORY, CONTENT MUST INCLUDE PLAYERS IN SOME CAPACITY WHILE THEY WERE ON/AFFILIATED
<br>WITH THE TEAM. ENTRANTS ARE GRANTED A LIMITED RIGHT TO USE THE CONTENT SOLELY FOR
<br>PURPOSES OF ENTRY IN THE GIVEAWAY. To enter, either
<br>
<br>1) Tweet your memory/SCREEN SHOT using the hashtag as defined at the beginning of the promotion.
<br>FOR RECEIPT BY THE ENTRY DEADLINE. IF SENT VIA DIRECT MESSAGE (PRIVATE COMMUNICATION),
<br>YOU WILL NOT BE ENTERED IN THE GIVEAWAY. DO NOT USE THE HASHTAG FOR ANY PURPOSE
<br>OTHER THAN PARTICIPATION IN THE GIVEAWAY.
<br>
<br>2) Email your memory/SCREEN SHOT to timecapsule@topps.com using the hashtag as defined at the
<br>beginning of the promotion in the subject line of the email
<br>
<br>3) Post your memory/SCREEN SHOT to the Topps Pennant Facebook Timeline, using the hashtag as
<br>defined at the beginning of the promotion in the post
<br>
<br>Check @toppspennant at the entry deadline for the announcement of the winner OR WINNERS (SEE
<br>BELOW)!
<br>Maximum one entry (THAT IS, TEAM MEMORY) per Twitter** account; A PERSON MAY USE ONLY ONE
<br>TWITTER ACCOUNT TO PARTICIPATE IN THE GIVEAWAY. USE OF TWITTER IS SUBJECT TO THE TWITTER
<br>RULES AND GUIDELINES. DO NOT MODIFY THE CONTENT OF THE TEAM MEMORY IN ANY MANNER; ANY
<br>SUCH MODIFICATION WILL RESULT IN DISQUALIFICATION.
<br>
<br>{* Topps Pennant is only available for the APPLE IPHONE® AND IPAD® MOBILE DIGITAL DEVICES; APPLE
<br>INC. HAS NOT SPONSORED OR ENDORSED THE GIVEAWAY.}
<br>
<br>{**TWITTER, INC. HAS NOT SPONSORED OR ENDORSED THE GIVEAWAY.}
<br>
<br>ALTERNATE METHOD OF ENTRY
<br>No Purchase Necessary. To enter without utilizing the Pennant App, send an email with the defined
<br>hashtag in the subject line, including your name, address and Twitter username (if applicable) to
<br>digital@topps.com during the promotion entry window announced via the @ToppsPennant Twitter
<br>account. Maximum one entry per address / Twitter account.
<br>
<br>PRIZES/ODDS
<br>Prizes and odds will be defined at the outset of each giveaway by The Topps Company, Inc. through
<br>the @ToppsPennant Twitter account. THE ODDS OF WINNING PRIZES DEPEND ON THE NUMBER OF
<br>ELIGIBLE ENTRIES RECEIVED. SPONSOR WILL CONDUCT THE RANDOM DRAWING TO SELECT WINNER(S)
<br>AT THE CONCLUSION OF THE PROMOTION ENTRY WINDOW. POTENTIAL WINNER(S) WILL NOT BE
<br>NOTIFIED PERSONALLY AND WILL ONLY BE ANNOUNCED PUBLICLY AT THE CONCLUSION OF THE
<br>PROMOTION ENTRY WINDOW. TO CLAIM PRIZE, SEND A DIRECT MESSAGE WITH YOUR NAME &
<br>ADDRESS TO @TOPPSPENNANT FOLLOWING THE ANNOUNCEMENT. WINNER(S) WILL RECEIVE PRIZE
<br>APPROXIMATELY 3-4 WEEKS THEREAFTER VIA USPS FIRST-CLASS MAIL. IF PRIZE IS NOT CLAIMED FOR
<br>ANY REASON, PRIZE WILL BE FORFEITED AND AN ALTERNATE WINNER WILL BE SELECTED FROM AMONG
<br>ALL REMAINING ELIGIBLE ENTRIES RECEIVED. ALTERNATE WINNER WILL BE NOTIFIED VIA DIRECT
<br>MESSAGE TO THE TWITTER ACCOUNT HE/SHE USED TO ENTER THE GIVEAWAY. BY PARTICIPATING,
<br>YOU (IF A MINOR, YOUR PARENT/LEGAL GUARDIAN) AGREE TO THESE OFFICIAL RULES AND THAT THE
<br>SPONSOR’S DECISIONS REGARDING THE GIVEAWAY (INCLUDING BUT NOT LIMITED TO DETERMINATION
<br>OF THE NUMBER OF ELIGIBLE ENTRIES RECEIVED) ARE FINAL AND BINDING IN ALL RESPECTS. Maximum
<br>one prize per entry.
<br>
<br>LIMITATIONS OF LIABILITY.
<br>Not Responsible for Errors. Sponsor is not responsible for any computer, programming, telephone,
<br>cable, satellite, network, electronic or Internet hardware or software malfunctions, errors, failures,
<br>
<br>connections, availability, or garbled or jumbled transmissions, service provider/Internet/website/use
<br>net accessibility or availability, traffic congestion, unauthorized human intervention or for inaccurate
<br>or incomplete recordation of information related to the Giveaway. Sponsor is not responsible for any
<br>typographical, programming, mechanical, technological or other error in the printing of the offer,
<br>the use and dissemination of virtual images of the Pennant App or the Giveaway generally or in the
<br>announcement of prizes won by participants.
<br>Force Majeure. If, for any reason, the Giveaway (or any part thereof) is not capable of running as
<br>planned by reason of any cause beyond the control of Sponsor (by way of example only, computer virus,
<br>worms, bugs, tampering, fraud, natural cataclysm, or civil commotion) which, in Sponsor's sole opinion,
<br>could corrupt or affect the conduct of the Giveaway (or any part thereof), Sponsor reserves the right at
<br>its sole discretion to cancel, terminate, modify or suspend the Giveaway and conduct the Giveaway in a
<br>manner which is fair, equitable and in accordance with these Official Rules, as determined by Sponsor in
<br>its sole discretion. Notice of such action by Sponsor will be posted at the Website.
<br>No More than Indicated No. of Prizes Available.IN NO EVENT WILL MORE THAN THE INDICATED
<br>QUANTITIES OF PRIZES BE AWARDED. FOR THE AVOIDANCE OF DOUBT, IF FEWER THAN 50 ELIGIBLE
<br>ENTRIES ARE RECEIVED, SPONSOR WILL NOT SELECT ANY WINNERS OR AWARD ANY PRIZES.
<br>Tampering. Use or attempted use of robotic, programmed or like methods of participation;
<br>manipulation/attempted manipulation of one's participation; attempts to decipher, reverse engineer
<br>or otherwise decode the software programming or logic are all prohibited and constitute tampering.
<br>Sponsor will disqualify any person found to be tampering.
<br>
<br>RELEASES
<br>By participating, you (if a minor, your parent or legal guardian) indemnify, release and agree to hold
<br>harmless Sponsor, its parent company, affiliates and subsidiaries, MLB Entities, prize suppliers, and
<br>the directors, officers, agents, representatives, shareholders, employees, successors and assigns of
<br>any of the above organizations from any and all liability arising from participating in the Giveaway, any
<br>Giveaway-related activity and/or acceptance, receipt, possession or use/misuse of prize. By accepting
<br>prize, except where prohibited by law, participant (if a minor, his/her parent or legal guardian) agrees
<br>to the use of participant's name, Twitter username, address (city, state), likeness, voice, photograph
<br>and/or other indicia of persona for advertising/publicity/trade purposes by Sponsor and its designees
<br>without further compensation or notice AND TO CONFIRM SUCH GRANT OF RIGHTS UPON SPONSOR’S
<br>REQUEST WITHOUT COMPENSATION OTHER THAN THE PRIZE.
<br>
<br>DISPUTE RESOLUTION/GOVERNING LAW/WAIVER OF JURY TRIAL
<br>To the fullest extent permitted by law, by participating in the Giveaway, you (if a minor, your parent/
<br>legal guardian) agree that: (a) any action regarding these Official Rules or the Giveaway shall be filed
<br>in either the courts of the State of New York, County of New York, USA OR the U.S. District Court for
<br>the Southern District of New York and you hereby consent and submit to the personal jurisdiction
<br>of such courts, (b) any and all disputes, claims, and causes of action arising out of or connected with
<br>these Official Rules or the Giveaway shall be resolved individually, without resort to any form of class
<br>action, and (c) any and all claims, judgments and awards shall be limited to actual out-of-pocket costs
<br>
<br>incurred (if any), including costs associated with participating in this Giveaway but in no event attorneys'
<br>fees, with all other damages or awards of any kind being expressly waived. All issues and questions
<br>concerning these Official Rules or the Giveaway shall be governed by the laws of the State of New York,
<br>USA without giving effect or regard to any principles or doctrines of conflicts of law/choice of law of the
<br>State of New York, USA or of any other jurisdiction






</div>