<br><br><br>
<div id="info_text">


<b>THE TOPPS COMPANY, INC.
<br>
<br>MOBILE APP PRIVACY POLICY</b>
<br>
<br>What this Policy Covers
<br>
<br>The Topps Company, Inc. (“Topps”) respects the privacy rights of our users and recognizes the
<br>importance of protecting the information we collect about you. Before you use the Apps, please read
<br>the following Privacy Policy carefully to understand how your personally identifiable information
<br>will be treated. This Privacy Policy applies only to personally identifiable information collected via
<br>the applications to which this Privacy Policy applies (the “Apps”). Topps and its affiliated entities are
<br>collectively referred to in this Privacy Policy as “Topps,” “we” or “us.”
<br>
<br>Because users of our Apps may be children, we make an effort to provide content that is appropriate for
<br>them. In addition, we have implemented special measures to help children protect their privacy while
<br>online. For example, we do not ask children to disclose more personal information than is necessary for
<br>them to participate in a particular activity, and we take steps to prevent children from publicly posting
<br>contact information. For more information regarding these additional measures, please see the section
<br>below titled, “Additional Information Regarding Children.”
<br>
<br>Information We Collect
<br>
<br>To enable you to enjoy certain features and activities offered by our Apps, Topps may collect personally
<br>identifiable information from you during your interactions with the Apps, e.g., when you:
<br>
<br>Register online;
<br>
<br>Participate in one of our games, activities or applications, including those that provide location
<br>information to us;
<br>
<br>Participate in contests, sweepstakes, or promotions;
<br>
<br>Participate in a survey or online poll;
<br>
<br>Subscribe to newsletters or other communications; or
<br>
<br>Contact us with a comment, question, or for further information.
<br>
<br>We may collect certain types of personally identifiable information, including your name, screen name,
<br>password, security question and answer, email address, postal address, telephone number, birthday,
<br>and debit or credit card information. To provide you with a more personalized experience, we may also
<br>collect other personally identifiable information, including your interests, preferences, and demographic
<br>(e.g., age and gender) information.
<br>
<br>We also may collect certain non-personally identifiable information, including, but not limited to: the
<br>Internet protocol (IP) address and the type of computer operating system you are using (e.g., Microsoft
<br>
<br>Windows or Mac OS), the location from which you are using the Apps, the type of browser you are using
<br>(e.g., Firefox, Internet Explorer), the domain name of the Internet service provider, your activities while
<br>using our Apps, and the content you accessed.
<br>
<br>Use, Storage, and Protection of Information
<br>
<br>Topps may use your Personally Identifiable information:
<br>
<br>To process and respond to inquiries and requests;
<br>
<br>To enable you to participate in online games, contests or promotions;
<br>
<br>To enable you to communicate with other users via message boards, chat, or e-cards;
<br>
<br>To provide you with personalized content;
<br>
<br>To send you email updates about important functionality changes to the Apps, special offers from us
<br>and our partners, new Topps services, and other news items; and
<br>
<br>To fulfill purchase or transaction orders you request via our Apps, and to track the delivery and payment
<br>for those transactions.
<br>
<br>From time to time, we may combine personally identifiable information we collect through our
<br>Apps with information that we collect from other sources (e.g., offline records or publicly available
<br>information).
<br>
<br>We also may use and share non-personally identifiable information. The use and disclosure of such
<br>information is not subject to any restrictions under this policy. Additionally, we may take Personally
<br>Identifiable information and de-identify it and share it in a de-identified or aggregated form with third
<br>parties, advertisers and/or business partners in order to analyze site usage, improve our service or
<br>service offerings, and improve our user experience, or for similar purposes.
<br>
<br>Personally identifiable information collected at our Apps will not be stored for longer than is necessary
<br>for the purposes described in this Privacy Policy, or to otherwise meet legal requirements.
<br>
<br>Topps uses commercially reasonable physical and electronic security measures to protect against the
<br>loss, misuse, and alteration of your personally identifiable information. Please be aware though that,
<br>despite our best efforts, no security measures are perfect or impenetrable.
<br>
<br>Sharing and Disclosure of Information
<br>
<br>· Topps Family of Companies: We may share personally identifiable information within the Topps family
<br>of companies, which may use personally identifiable information for the purposes described above.
<br>
<br>· Service Providers: We may share personally identifiable information collected through our Apps with
<br>third parties that process information on our behalf (e.g., agents or service providers to host our Apps).
<br>
<br>· Business Partners: With your consent, we may share personally identifiable information with non-
<br>affiliated third parties to enable them to provide you with additional products or services opportunities.
<br>Please see the section below titled, “Your Choices to Receive Direct Marketing” for more information on
<br>how to changes your preferences or opt out of such information sharing.
<br>
<br>· Legal Compliance & Protecting Security and Safety. You acknowledge, consent and agree that to the
<br>extent permitted by applicable law, Topps may access, preserve and disclose your account information
<br>if required to do so by law or in a good faith belief that such access preservation or disclosure is
<br>reasonably necessary to: (i) comply with legal process; (ii) enforce the Topps Terms of Service; (iii)
<br>respond to claims that your conduct has violated the rights of third parties; (iv) respond to your requests
<br>for customer service; (v) protect the rights, property or personal safety of Topps, its users and the
<br>public; (vi) or as otherwise required to comply with, or permitted by, applicable laws and regulations.
<br>
<br>· Business Transactions: We may transfer personally identifiable information collected through our Apps
<br>if we or one of our affiliates are acquired by, sold to, or merged with another entity.
<br>
<br>Your Choices Regarding Direct Marketing
<br>
<br>With your consent, we also may use personally identifiable information collected by our Apps for the
<br>following purposes:
<br>
<br>Direct marketing of our own sports, entertainment, collectible, candy products and services and on
<br>behalf of other companies within the Topps family;
<br>
<br>Direct marketing products and services on behalf of selected non-affiliated sports, collectible, games
<br>and candy companies; and
<br>
<br>Sharing information with non-affiliated sports, entertainment, collectible and media companies to
<br>enable them to market these types of products or services to you.
<br>
<br>Receiving marketing communications is voluntary. If at any time you wish to change your marketing
<br>preferences or opt out entirely from receiving further marketing information from us, you can log into
<br>your account if you have registered on one of our Apps, follow the unsubscribe instructions in our e-mail
<br>communications, or contact us at privacypolicy@topps.com.
<br>
<br>Links, and Sponsored or Co-Sponsored Activities
<br>
<br>We may provide links to other sites. We are not responsible for those other sites, their privacy policies,
<br>or how they treat the information of their users. We advise you to review their privacy policies for
<br>information on how those sites collect, use, and protect your information.
<br>
<br>On occasion, we may offer content, promotions or other activities that are sponsored or co-sponsored
<br>by or presented with identified third parties. By using this content or participating in such promotions
<br>or activities, the personally identifiable information that you voluntarily submit may be provided to
<br>both the Topps site and the third parties. Topps has no control over such third parties’ use of this
<br>
<br>information.
<br>
<br>International Transfer
<br>
<br>As Topps operates globally, we may need to transfer to and process personally identifiable information
<br>about you on our servers in the United States. Please note that the data protection laws of other
<br>countries, such as the United States, may not offer a level of privacy protection equivalent to that within
<br>the European Economic Area or your home country. Be assured, however, that we will take reasonable
<br>steps to protect personally identifiable information collected through our Apps. By using our Apps, you
<br>expressly consent to such transfer.
<br>
<br>Your Rights to Review and Update Information
<br>
<br>You have the right to access, update, and correct factual inaccuracies in personally identifiable
<br>information that we collect online at our Apps, subject to certain exceptions. To do so, you may e-mail
<br>us at privacypolicy@topps.com. To protect your privacy and the security of your personally identifiable
<br>information, we will take reasonable steps to verify your identity before granting access.
<br>
<br>Additional Information Regarding Children’s Privacy
<br>
<br>At Topps, children’s privacy is important to us. We are committed to providing fun, entertaining, and
<br>secure Apps for all ages, particularly our younger users. Therefore, we have implemented the special
<br>measures described below to help children protect their privacy while online.
<br>
<br>Information We Collect: There may be activities on the Topps Apps or portions of Apps directed to
<br>children that children can participate in and enjoy without providing personally identifiable information.
<br>To enable their participation in some of our interactive features (e.g., contests, newsletters, online
<br>games, electronic postcards to family or friends), children will need to provide us with certain personally
<br>identifiable information. The types of personally identifiable information is typically limited to first
<br>name and e-mail addresses. We also may ask users to provide certain information that is not personally
<br>identifiable, such as city or state of residence, date of birth and gender.
<br>
<br>Use and Disclosure of Information: To participate in certain features, we may ask an App user to
<br>register. When users who attempt to register indicate that they are children, depending on their age
<br>or location, we either collect no personally identifiable information from them or inform them that
<br>a parent or guardian’s consent is necessary to participate in the activity. To obtain consent, we will
<br>collect the e-mail address of the visitor’s parent or guardian in addition to that of the visitor. We use
<br>the parent or guardian’s e-mail address to obtain consent or notify parents or guardians of their child’s
<br>online activities and to enable them to de-register the child’s account on the App, unsubscribe the child
<br>from a newsletter or other similar activity. For visitors that we know are children, we will not condition
<br>participation in an online activity on the disclosure of more personally identifiable information than
<br>reasonably necessary to participate in the activity.
<br>
<br>Unless we indicate otherwise or obtain consent, personally identifiable information collected from
<br>children is generally used by Topps or Topps’ agent and contractors for internal purposes, such as
<br>
<br>enabling visitors to enter our online contests or sweepstakes, to subscribe to an online newsletter, to
<br>play an online game, to provide customer service, and/or for the purposes for which the information
<br>was provided. We do not share children’s personally identifiable information with outside third parties
<br>not bound by this Policy for their own marketing purposes.
<br>
<br>We may share children’s personally identifiable information with third parties to the extent reasonably
<br>necessary to: protect the security or integrity of our Apps; take precautions against liability; respond to
<br>judicial process or law enforcement agency request or investigation; or to the extent permitted by law
<br>or consistent with this policy or legal requirements.
<br>
<br>Reviewing Information/Contact: If you would like to review any personally identifiable information that
<br>we have collected through the Apps or otherwise online from your child, have this information deleted,
<br>and/or request that there be no further collection or use of your child’s information or if you have
<br>questions about these information practices, you may email us at privacypolicy@topps.com; write to us
<br>at Topps US, One Whitehall Street New York, NY 10004; or call us at 1-888-GOTOPPS.
<br>
<br>Your California Privacy Rights
<br>
<br>If you are a California resident, you are entitled by law to request certain information regarding Topps’
<br>disclosure to third parties of personal information for their direct marketing purposes. To make such a
<br>request, submit a written request to the address listed in the Contact section below, or send an e-mail
<br>to privacypolicy@topps.com, specifying that you seek your “California Customer Privacy Notice.” Please
<br>allow thirty days for a response.
<br>
<br>How to Contact Us
<br>
<br>If you have questions, concerns, or suggestions regarding this Privacy Policy, please feel free to contact
<br>us at privacypolicy@topps.com or at the following address:
<br>
<br>The Topps Company, Inc.
<br>
<br>One Whitehall Street
<br>
<br>New York, NY 10004
<br>
<br>Policy Modifications
<br>
<br>From time to time, we may update this Privacy Policy and will post the revised policy here. We will also
<br>notify you of any material changes to our Privacy Policy by placing a notice on our website and, where
<br>possible, on the App(s). We encourage you to periodically check back to this policy statement to learn
<br>what information we collect, how we use it, and to whom we share it.
<br>
<br>
<br>
<br>
<br>
</div>
