 <div id="pennant_home">



<div id="topps_leftside"  >
        <%= image_tag "pennant_logo.png", alt: "Topps Pennant Logo", class: "pngimg" %>

<!--      NOTE: THIS TEXT IS GOING TO BE ALTERED PER TEAM VS GENERIC    
          <div id="every_team_text" >
         Every team. Every game. Every play. 1952 to today.
         </div>
 -->      
              <div id="divider">
          <img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/divider.png" alt="DIVIDER" class="pngimg" /></div>
		
  
  <div id="video1_link">
             <a  class ='topps_video' href='http://player.vimeo.com/video/39739697?autoplay=1' onClick="_gaq.push(['_trackEvent', 'Videos', 'Play - Every Moment'])"></a>
	   </div>

  <div id="video2_link">
             <a  class ='topps_video' href='http://player.vimeo.com/video/39745318?autoplay=1'  onClick="_gaq.push(['_trackEvent', 'Videos', 'Play - App Demo'])"></a>
	   </div>

        <div id="app_store_black" >
          <a href="http://click.linksynergy.com/fs-bin/stat?id=HXDYbs8K8P4&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Ftopps-pennant%252Fid514201097%253Fmt%253D8%2526uo%253D4%2526partnerId%253D30" target="_new" onClick="_gaq.push(['_trackEvent', 'Exit', 'Purchase Funnel'])"><img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/app_store_black.png" alt="app store icon " class="pngimg" border="0" /></a></div>
				 <div id="app_store_red" class="app store icon  linkover"  >


          <a href="http://click.linksynergy.com/fs-bin/stat?id=HXDYbs8K8P4&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Ftopps-pennant%252Fid514201097%253Fmt%253D8%2526uo%253D4%2526partnerId%253D30" target="_new" onClick="_gaq.push(['_trackEvent', 'Exit', 'Purchase Funnel'])"><img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/app_store_red.png" alt="app store icon " class="pngimg" border="0" /></a></div>
		        <div id="available_text">
     Available for <b>iPhone</b> and <b>iPad</b>.
        </div>
		 <!-- This is 'apple_design_winner_text' -->
         
          <div id="apple_design_winner" class="apple design winner text editable"  >
     Recent Product Reviews
          </div>
          <div id="blurb"></div>
          <div id="left_arrow"  >
            <a onclick="showBlurb((blurbNo == 0) ? blurbNo = blurbs.length -1:blurbNo--)" >     
           <img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/left_arrow.png" width="10" height="19" alt="LEFTARROW" class="pngimg" border="0" /></a></div>
<!-- ((--blurbNo < 0) ? blurbs.length -1:blurbNo)    showBlurb((++blurbNo = blurbs.length) ? 0:blurbNo)-->
          <!-- This is 'RIGHTARROW_link' -->
          <div id="right_arrow">
            <a onclick="showBlurb((blurbNo  == blurbs.length-1) ? blurbNo = 0 :blurbNo++)" >  
            <img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/right_arrow.png" width="10" height="19" alt="RIGHTARROW" class="pngimg" border="0" /></a></div>
</div>



<script type="text/javascript">
var blurbs = new Array();
var blurbNo = 0;
blurbs[0] = {image_url:'http://pennant.topps.com/wp-content/gallery/pennant_blurb/techcrunchlogo.png',
alt_text:'TechCrunch',
blurb_text:'The company has taken its time in developing apps that leverage all the capabilities of the iPad, so that even if you already have an app you use for box scores, this one’s worth checking out.',
URL_LINK:'http://techcrunch.com/2012/04/09/topps-goes-mobile/',
Order:'2'};
blurbs[1] = {image_url:'http://pennant.topps.com/wp-content/gallery/pennant_blurb/intomobile.png',
alt_text:'intomobile',
blurb_text:'What makes Pennant unique is both the UI, and the historical aspects of the application.',
URL_LINK:'http://www.intomobile.com/2012/04/10/trading-card-legend-topps-goes-mobile-two-ios-apps/',
Order:'3'};
blurbs[2] = {image_url:'http://pennant.topps.com/wp-content/gallery/pennant_blurb/applenapps.png',
alt_text:'applenapps',
blurb_text:'Topps Pennant is a baseball fan\’s dream, and such a worthwhile iOS experience even if you just have a remote interest in the sport.',
URL_LINK:'http://applenapps.com/review/topps-pennant-the-best-sports-resource-anywhere',
Order:'5'};
blurbs[3] = {image_url:'http://pennant.topps.com/wp-content/gallery/pennant_blurb/catalano.png',
alt_text:'catalano',
blurb_text:'The Topps Pennant app is the greatest thing in the history of things.',
URL_LINK:'http://twitter.com/#!/inthefade/statuses/188694621503750144',
Order:'6'};
jQuery(document).ready(function($){
	showBlurb();
});
</script>


<div id="rightside">
  <div id="iphone"  > &nbsp; </div>
  
  <div id="everwonder" class="Ever Wonder  text editable"  > 
  <span class="fut_bold_red">Ever Wonder... </span>how your favorite<br>
    team did in the year you were born? </div>
    


		<div class='pennant-iphone-pic'> <img src='http://pennant.topps.com/php/getphonescreen.php?screen_pic=http%3A%2F%2Fpennant.topps.com%2Fwp-content%2Fuploads%2F2012%2F04%2Fmomentview_tigers_phone.jpg&posttype=pennant'/></div>
	



</div>




<div id="weaver-final" class="weaver-final-raw"></div> <!-- #wii_final -->

<div id="topps_footer">
<div id="MLB_link">
<a href="http://mlb.mlb.com/index.jsp" target="_blank"><img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/mlb_com.gif"  alt="MLB LOGO" class="pngimg" border="0" /></a>
</div>

<div id="MLBPA_link">
<a href="http://mlbplayers.mlb.com/pa/index.jsp" target="_blank"><img src="http://pennant.topps.com/wp-content/themes/weaver-ii-pro/graphics/mlbpa_logo.png" alt="MLBPA LOGO" class="pngimg" border="0" /></a>
</div>


<div id="footer_text" >
© 2012 The Topps Company, Inc. All Rights Reserved. TOPPS® AND TOPPS PENNANT ARE TRADEMARKS OF THE TOPPS COMPANY, INC.  |   <a href="http://pennant.topps.com/terms" >Terms & Conditions</a>   |   <a href="http://pennant.topps.com/privacy">Privacy Policy</a>   |   <a href="http://topps.com/contact" target="_blank">Contact Topps</a>
   
<br />
Major League Baseball trademarks and copyrights are used with permission of MLB.com. All rights reserved. Visit <a href="http://mlb.mlb.com/index.jsp" target="_blank">MLB.com</a>. <br />
LICENSED BY MLBPA, 2012. © MLBPA. OFFICIAL LICENSEE – MAJOR LEAGUE BASEBALL PLAYERS ASSOCIATION. iTunes®, iPad® and iPhone® are registered trademarks of Apple Inc.
</div>

</div> <!-- #topps_footer -->

</div> <!-- #toppspage -->
</div> <!-- #toppspage-wrapper -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6292203-1']);
  _gaq.push(['_setDomainName', '.topps.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</div>