<% if browser.mobile? %>
  <head>    <meta name="viewport" content="width=1400,
                                 maximum-scale=1.0">
</head>
  <style type="text/css">
    #footer {
      width: 1400px;
    }
    #header {
      width: 1400px;
    }

  </style>
<% end %>
 p
<br><br><br>
<div id="info_text">

<b>THE TOPPS COMPANY, INC.
<br>
<br>MOBILE TERMS OF SERVICE</b>
<br>
<br>1. ACCEPTANCE, APPS, AND LICENSE
<br>
<br>These Universal Terms of Service (“TOS” or “Terms”) apply to applications (the “Apps”) provided by
<br>The Topps Company, Inc (“Topps”). Topps (“we,” “us,” “our”) provides the Apps to you subject to
<br>your acceptance of these Terms of Service. We may update the TOS by providing a new version on
<br>your device or by posting a new version online, including at http://bunt.topps.com/terms, and your
<br>continued use of the Apps after any such update constitutes your binding acceptance of such changes.
<br>This document is a binding contract between you and Topps.
<br>
<br>When using particular Topps owned or operated Apps, you shall be subject to any posted guidelines
<br>or rules applicable to such services, which may be posted and modified from time to time. All such
<br>guidelines or rules (including but not limited to our Topps Online Store Policy) are hereby incorporated
<br>by reference into the TOS. These Apps are solely for your personal, noncommercial use. Some Apps
<br>require registration, particularly before accessing certain areas or functionality (“Restricted Areas”).
<br>When you do register with us, you agree to provide accurate, current and complete information about
<br>yourself as prompted (such information being the “Registration Data”) and to maintain and promptly
<br>update the Registration Data to keep it accurate, current and complete.
<br>
<br>Subject to your agreement and continuing compliance with these Terms of Service and any other
<br>relevant Topps policies, Topps grants you a non-exclusive, non-transferable, revocable limited license
<br>to access and use the Apps using a Topps supported web browser or mobile device solely for your own
<br>non-commercial entertainment purposes. You agree not to use the Apps for any other purpose.
<br>
<br>Topps reserves the right to modify or discontinue the Apps (or any part thereof), including the Restricted
<br>Areas, with or without notice at any time. You agree that Topps shall not be liable to you or any third
<br>party for any modification, suspension or discontinuance of the Apps, except as otherwise specified in
<br>any separate rules governing certain events or contents.
<br>
<br>We may provide certain products and services for purchase within the Apps (each an “In App
<br>Purchase”). In App Purchases (a) may include additional functionality, content, or subscription access to
<br>content or services, (b) can be downloaded only once, and (c) may be subject to additional terms within
<br>the In App Purchase. Once you have received an In App Purchase, you are responsible for any loss or
<br>damage to the In App Purchase and Topps shall have no liability in such circumstances, regardless of
<br>cause. You expressly understand and agree that your use of In App Purchase is at your sole risk and that
<br>any In App Purchase is provided “as is” and “as available”. All In App Purchases are final. Once you have
<br>made an In-App Purchase, we encourage you to promptly take the necessary steps to complete your
<br>transaction (e.g., activate or download any content). Certain In App Purchases may include renewable
<br>subscriptions (“In App Subscriptions”). If you purchase an In-App Subscription, your In App Subscription
<br>
<br>will continue at the regular subscription price using the payment mechanism you provided for the initial
<br>subscription. We reserve the right to (d) terminate an In App Subscription at any time and (e) change
<br>subscription terms and prices from time to time, effective as of the beginning of the next subscription
<br>term.
<br>
<br>The Apps are intended for the use of adults 18 years or older and children over the age of 13. You
<br>acknowledge and agree that you are not permitted to use the Apps, and you shall not use this website,
<br>if you are under the age of 13. By using the Apps or this website, you (a) certify that you are at least
<br>18 years of age or, if you are under the age of 18 but at least 13 years of age, you certify that you have
<br>the permission of your parent or guardian who agrees to be bound by these Terms of Service and is
<br>responsible for your actions and (b) agree to provide us with accurate information concerning your age
<br>or identity if we request it. You also agree not to (c) assist children under the age of 13 in accessing the
<br>Apps or website or (d) attempt to contact children under 13 in conjunction with the Apps or the website.
<br>
<br>2. PRIVACY AND SECURITY
<br>
<br>Your Registration Data, as well as information that you may provide at other times during your use
<br>of the Apps, is subject to our Privacy Policy (available at http://bunt.topps.com/privacy), which is
<br>incorporated by reference into these Terms.
<br>
<br>When registering for any of the Apps, you may be required to select a Username and Password that
<br>will be used to access your account. You are responsible for any use of your Password, whether by
<br>you or others. You agree to (a) keep your Password confidential and not share it with anyone else; (b)
<br>immediately notify Topps of any unauthorized use of your Password or account or any other breach of
<br>security; and (c) use only your Password to access any Restricted Areas on the Apps. Topps cannot and
<br>will not be liable for any loss or damage arising from your failure to comply with this Section.
<br>
<br>You authorize Topps to act on instructions received through use of your Password, and that Topps
<br>may, but is not obligated to, deny access or block any transaction made through use of your Password
<br>without prior notice.
<br>
<br>3. USER CONDUCT
<br>
<br>By using the Apps, it is your responsibility to know, understand and abide by our rules of conduct. These
<br>rules are not meant to be exhaustive, and Topps reserves the right to determine what types of conduct
<br>it considers to be inappropriate use of the Apps and to take such measures as it sees fit. Topps reserves
<br>the right to add to or amend this list of rules at any time.
<br>
<br>You agree that you will not use the Apps to:
<br>
<br>make available content that:
<br>
<br>harasses, abuses, defames, or threatens other users
<br>
<br>contains profanity, or obscene or otherwise objectionable content
<br>
<br>degrades others on the basis of gender, race, class, ethnicity, national origin, religion, sexual preference,
<br>disability or other classification;
<br>
<br>contains any other party’s intellectual property unless you have the right to do so or violates the privacy,
<br>publicity or other personal rights of others; or
<br>
<br>contains software viruses or any other computer code, files or programs that can interrupt, destroy, or
<br>limit the functionality of any computer software or hardware or telecommunications equipment;
<br>
<br>stalk or harass any other person or entity;
<br>
<br>manipulate identifiers in order to disguise the origin of any content;
<br>
<br>impersonate any entity or misrepresent your affiliation with a person or entity;
<br>
<br>post advertisements or solicitations, or otherwise engage in commercial activity;
<br>
<br>interfere with the Apps or servers or networks connected to the Apps, or disobey any
<br>
<br>requirements of networks connected to the Apps;
<br>
<br>violate any applicable local, state, national or international law or regulation;
<br>
<br>promote or facilitate illegal gambling or wagering;
<br>
<br>make available, distribute, re-upload or share any video, photos, downloads or other content provided
<br>by Topps or through the Apps to any other website, streaming technology, peer-to-peer software, or
<br>similarly unauthorized distribution channel unless expressly authorized to do so by Topps;
<br>
<br>use any meta tags or any other hidden text using the Company’s name or trademarks;
<br>
<br>attempt to decipher, decompile, disassemble or reverse engineer any of the software comprising, or in
<br>any way making up, any part of the website;
<br>
<br>access any content not intended for your use or log onto a server or account that you are not authorized
<br>to access; or
<br>
<br>attempt to probe, scan or test the vulnerability of a system or network or to breach security or
<br>authentication measures without proper authorization.
<br>
<br>Violation of the rules of conduct may result in the immediate removal of your content from the Apps
<br>and/or the termination of your account(s).
<br>
<br>You understand that all postings and content submitted to any of the Apps by users (“User Materials”),
<br>whether privately transmitted or made publicly available, are the sole responsibility of the person from
<br>which such User Materials originated. You are entirely responsible for all User Materials that you make
<br>available via the Apps.
<br>
<br>You acknowledge that Topps may or may not pre-screen User Materials, but that Topps and its
<br>designees have the right (but not the obligation) in their sole discretion to remove any User Materials.
<br>You understand that by using the Apps, you may be exposed to User Materials that you may consider to
<br>be offensive or objectionable. You agree that you must evaluate, and bear all risks associated with, the
<br>use or disclosure of any User Materials. You further acknowledge and agree that you will not rely on any
<br>content available on or through the Apps.
<br>
<br>With respect to User Materials you directly submit or make available on the Apps, you grant Topps
<br>an irrevocable, fully sub-licensable, perpetual, world-wide, royalty-free, non-exclusive license to use,
<br>distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such User
<br>Materials (in whole or in part) and to incorporate such User Materials into other works in any format or
<br>medium now known or later developed.
<br>
<br>4. LOCATION-BASED SERVICES
<br>
<br>Some Apps may contain functionality that can enable Topps to access your location and tailor your
<br>experience with the Apps based on your location (“Location-based Services”). To use Location-based
<br>Services, you must enable certain features of your mobile device (e.g., GPS, WiFi, or Bluetooth) to allow
<br>Topps to identify your location. To the extent your location is collected through Wi-Fi or Bluetooth
<br>sensors, such sensors, and the associated data services, may be provided by a third party that may
<br>access such information for the purpose of providing such data services to Topps. You agree to such
<br>access by such third parties. You may enable or disable such Location-based Services at any time via a
<br>menu within the Apps. If you choose to disable any Location-based Services on your device and/or opt
<br>out of any Location-based Services through the menu, you will not be able to utilize certain features
<br>of the Apps. By enabling Location-based Services on your device, you agree and acknowledge that (i)
<br>device data we collect from you is directly relevant to your use of the Apps, (ii) Topps may provide
<br>Location-based Services related to and based on your then-current location, and (iii) Topps may use any
<br>such information collected in connection with the provision of Location-based Services in providing the
<br>Apps. PLEASE NOTE THAT LOCATION DATA MAY NOT ALWAYS BE ACCURATE, AND TOPPS DISCLAIMS
<br>ANY AND ALL WARRANTIES RELATED TO LOCATION-BASED SERVICES.
<br>
<br>5. INDEMNITY
<br>
<br>You agree to defend, indemnify and hold harmless Topps, its parent company, affiliates, subsidiaries,
<br>employees, contractors, telecommunication providers, content providers, and assignees and their
<br>respective officers, directors, employees and agents from and against any and all liabilities, claims,
<br>actions, demands, damages, costs, losses and expenses (including reasonable attorney’s fees) made by
<br>any third party due to or arising out of your use of the Apps, any transaction resulting from use of the
<br>Apps (including, without limitation, any In App Purchases), your connection to the Apps, your violation
<br>of these Terms, your submission, posting, or transmission of User Materials to the Apps, and/or your
<br>violation of any rights of another.
<br>
<br>6. TERMINATION
<br>
<br>You agree that Topps may, in its sole discretion and without notice, immediately terminate your access
<br>to the Apps or Restricted Areas or both. Termination of your account(s) may include (i) removal of
<br>access to all offerings within the Apps’ Restricted Areas, (ii) at Topps’ sole discretion, the deletion of all
<br>of your account information related to the Apps, User Materials, and other content associated with your
<br>account(s) related to the Apps (or any part thereof), and (iii) barring your further use of the Apps.
<br>
<br>The Apps may provide links to other World Wide Web sites or resources. Because Topps has no control
<br>over such sites and resources, you acknowledge and agree that Topps is not responsible for the
<br>availability of such external sites or resources, and does not endorse and is not responsible or liable for
<br>any content, advertising, products, or other materials on or available from such sites or resources. You
<br>further acknowledge and agree that Topps shall not be responsible or liable, directly or indirectly, for
<br>any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
<br>such content, goods or services available on or through any such site or resource.
<br>
<br>8. PROPRIETARY RIGHTS AND IP
<br>
<br>All title, ownership and intellectual property rights in and to the materials contained Apps are owned
<br>by Topps or its licensors. Unless noted otherwise, you should assume that all content, software, and
<br>other materials made available or through the Website are protected by copyright, trademark and other
<br>applicable intellectual property law and may not be used except as permitted in these Terms.
<br>
<br>Topps and/or other Topps products referenced herein, including but not limited to Allen & Ginter, Baby
<br>Bottle Pop, Bazooka, Bazooka Joe, Bowman, Garbage Pail Kids, Hollywood Zombies, Juicy Drop Pop,
<br>Match Attax, Push Pop, Ring Pop, Slam Attax, Topps Attax, Topps BUNT, Topps Pennant and Wacky
<br>Packages include registered or unregistered trademarks of Topps and others.
<br>
<br>Nothing contained on any Topps Apps, including Topps.com, should be construed as granting, by
<br>implication, estoppel, or otherwise, any license or right to use any trademark displayed on the Apps
<br>without the written permission of Topps or any such third party that may own the trademarks. Your
<br>misuse of the Topps trademarks displayed on the Apps, or any other content on the Apps, except as
<br>provided in these terms, is strictly prohibited. You are also advised that Topps will aggressively enforce
<br>its intellectual property rights to the fullest extent of the law, including by seeking criminal prosecution.
<br>
<br>Topps may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of
<br>users who infringe the intellectual property of others. If you believe that your work has been copied in
<br>a way that constitutes copyright infringement, or your intellectual property rights have been otherwise
<br>violated, please provide Topps’ Copyright Agent a Notice containing the following information:
<br>
<br>an electronic or physical signature of the person authorized to act on behalf of the owner of the
<br>copyright or other intellectual property interest;
<br>
<br>a description of the copyrighted work or other intellectual property that you claim has been infringed;
<br>
<br>a description of where the material that you claim is infringing is located on a Site;
<br>
<br>your address, telephone number, and e-mail address;
<br>
<br>a statement by you that you have a good faith belief that the disputed use is not authorized by the
<br>copyright owner, its agent, or the law;
<br>
<br>a statement by you, made under penalty of perjury, that the above information in your Notice is
<br>accurate and that you are the copyright or intellectual property owner or authorized to act on the
<br>copyright or intellectual property owner’s behalf
<br>
<br>Topps’ Copyright Agent for Notice of claims of copyright or other intellectual property infringement can
<br>be reached in the following ways:
<br>
<br>Heather Greenberg, Esq., Associate General Counsel, The Topps Company, Inc., One Whitehall Street,
<br>New York, NY 10004. Fax Number –212-376-0626. Email: hgreenberg@topps.com Phone: 212-376-0500
<br>
<br>9. DISCLAIMER OF WARRANTIES
<br>
<br>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
<br>
<br>YOUR USE OF THE APPS IS AT YOUR SOLE RISK. THE APPS ARE PROVIDED ON AN “AS IS” AND “AS
<br>AVAILABLE” BASIS. TOPPS EXPRESSLY DISCLAIMS ALL WARRANTIES EXPRESS OR IMPLIED, INCLUDING
<br>THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY,
<br>AND NON-INFRINGEMENT. TOPPS ASSUMES NO RESPONSIBILITY FOR THE TIMELINESS, DELETION, MIS-
<br>DELIVERY OR FAILURE TO PROVIDE ANY CONTENT OR TO STORE ANY PERSONALIZATION SETTINGS OR
<br>USER MATERIALS.
<br>
<br>ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE APPS IS DOWNLOADED AND
<br>USED AT YOUR SOLE DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE
<br>TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF ANY
<br>SUCH CONTENT.
<br>
<br>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM TOPPS OR
<br>THROUGH OR FROM THE APPS SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOS.
<br>
<br>10. LIMITATION ON LIABILITY
<br>
<br>YOU UNDERSTAND AND AGREE THAT TOPPS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT,
<br>INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION
<br>DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF TOPPS
<br>HAD BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE
<br>INABILITY TO USE THE APPS; (ii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS
<br>OR DATA; (iii) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE APPS; OR (iv) ANY OTHER
<br>
<br>MATTER RELATING TO THE APPS.
<br>
<br>11. EXCLUSIONS AND LIMITATIONS
<br>
<br>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION
<br>OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF
<br>THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
<br>
<br>12. GENERAL INFORMATION
<br>
<br>No Third Party Beneficiaries. You agree that, except as otherwise expressly provided in this TOS, there
<br>shall be no third party beneficiaries to this Agreement.
<br>
<br>Notice. Topps may provide you with notices, including those regarding changes to the TOS, by e-mail,
<br>regular mail, or postings on the Apps; provided, however, that this Section places no requirements on
<br>Topps not already expressly set forth herein.
<br>
<br>Choice of Law and Dispute Resolution. These Terms are governed by laws of the State of New York,
<br>without regard to its conflict of laws principles. You hereby consent to the exclusive jurisdiction and
<br>venue of the state and federal courts within New York, New York, for any claims arising out of or relating
<br>to your use of the website. To expedite resolution and control the cost of any dispute, controversy or
<br>claim related to these Terms or your use of services or information offered by Topps (“Dispute”), any
<br>dispute relating in any way to your use of or access to any of the Apps shall be submitted to confidential
<br>arbitration in New York, except that, to the extent you have in any manner violated or threatened to
<br>violate Topps’ intellectual property rights, Topps may seek injunctive or other appropriate relief in any
<br>state or federal court in the state of New York, and you consent to exclusive jurisdiction and venue in
<br>such courts. Arbitration under this agreement shall be conducted under the rules then prevailing of
<br>the American Arbitration Association. The arbitrator’s award shall be binding and may be entered as
<br>a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law,
<br>no dispute under this Agreement shall be joined to a dispute involving any other party subject to this
<br>Agreement, whether through class arbitration proceedings or otherwise.
<br>
<br>Entire Agreement; Waiver; Severability. The TOS constitutes the entire agreement between you and
<br>Topps with respect to your use of the Apps. The failure of Topps to exercise or enforce any right or
<br>provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS
<br>is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court
<br>should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other
<br>provisions of the TOS remain in full force and effect.
<br>
<br>Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause
<br>of action arising out of or related to the use of the Apps or the TOS must be filed within one (1) year
<br>after such claim or cause of action arose or be forever barred.
<br>
<br>Survivorship. You agree that any of your registered accounts on any of the Apps are non-transferable
<br>and any rights to your user ID or account contents terminate upon your death.
<br>
<br>Section Titles. The section titles in the TOS are for convenience only and have no legal or contractual
<br>effect.
<br>
<br>Violations. You agree that you will report any violations of the TOS to digital@topps.com
<br>
<br>Questions. Please contact digital@topps.com by email using the subject line “Terms of Service
<br>questions” if you have any questions or comments about these Terms.<br>
</div>
