	<div id="header_box">
		<span id="logo_box"><%= image_tag "temp_topps_logo.jpeg" %></span>
		<span id="top_description_box">
			<em>Add your favorite memories</em>
			to contribute to the Summer Barnstorm scrapbook!</span>
	</div>
	<div id="main_content_area">
		<div id="side_content">
			<div></div>
			<div id="twitter_box"></div>
		</div>
		<div id="map">
			<%= image_tag "blank_us_map.png" %>
		</div>
	</div>


