<div id="header_box">
	<div id="logo_box"></div>
	<div id="top_description_box"></div>
</div>
<div id="main_content_area">
	<div id="side_content">
		<div></div>
		<div id="twitter_box"></div>
	</div>
	<div id="map">
		<%= image_tag "blank_us_map.png" %>
	</div>
</div>