
footer {
	height: 200px;
	background-color: #e4416c;
	float: left;
	text-align: center;
	position: relative;
	font-size: 1.2em;
}

footer #left_column {
	float: left;
	width: 50%;
	text-align: left;
	margin-top: 15px;
	margin-left: 10px;
	font-family: "HelveticaNeueBold";
	font-size: .75em;
}

footer #left_column #social_media_buttons .fb-like{
	top: -3px;
}

footer #left_column #tos_and_pp{
	font-size: .75em;
	margin-top: 15px;
}

footer #left_column #tm_boilerplate {
	margin-top: 15px;
	font-size: .75em;
}

footer #right_column img {
	width: 10%;
	position: static;
}

footer #right_column #link_buttons {
	margin-top: 15px;
}

footer #right_column #logo_buttons {
	margin-top: 35px;
}
