@font-face {
	font-family: "Futura";
	src: url("/assets/futura_lt_book-webfont.eot");
	src: url("/assets/futura_lt_book-webfont.eot?iefix") format("eot"), 
	url("/assets/futura_lt_book-webfont.woff") format("woff"),
	url("/assets/futura_lt_book-webfont.svg") format("svg"),
	url("/assets/futura_lt_book-webfont.otf") format("openttype");
}

@font-face {
	font-family: "Futura";
	font-style: "bold";
	src: url("/assets/futura_lt_bold-webfont.eot");
	src: url("/assets/futura_lt_bold-webfont.eot?iefix") format("eot"), 
	url("/assets/futura_lt_bold-webfont.woff") format("woff"),
	url("/assets/futura_lt_bold-webfont.svg") format("svg"),
	url("/assets/futura_lt_bold-webfont.otf") format("openttype");
}

