// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ok my body size is apparently like 1200
div {
	border-style: solid;
}
body {
	margin-top: 75px;
	background:url('/assets/barnstorm_background.jpg');
	border-style: solid; 
	min-width: 1200px;
}


div#side_content {
	width: 21%;
	float: left;
	margin-left: 2.5%;
	clear: both;
}

div#logo_box {
	margin: 60px 12.5% 12.5% 0px;
}
img#logo {
	width: 18.5%;
	margin-left: 5%;
	display: inline;
	float: left;
}
div#map  {
	border-style: solid; 
	float: right;
	width: 70%;
	position: relative;
} 

.small_disc {
	z-index: 4;
	position: absolute;
	height: 5%; 
}

.large_disc {
	z-index: 5;
}


img#map {
	width: 100%;
}


#appstore_logo {
	width: 50%;
	background-image: url("assets/image/appstore_logo.png");

}

#appstore_logo:hover {
	width: 50%;
	background-image: url("assets/image/appstore_hover.png");


}

div#top {
	padding: 0;
	margin: 0;
}

#news_stories {
	height: 50px;
	float: right;
}
