

#sms_overlay {
	position: absolute;
	left: 33%;
	top: 20%;
	width:25%;
	height:25%;
	text-align:center;
	display: none;
	z-index: 1000;
	font-family: "FuturaMedium";
	font-size: 1.3em;
	line-height: 125%;
}

#sms_overlay #window {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     padding:15px;
     text-align:center;
     border: solid;
}

#sms_overlay #close_box {
	position: relative;
	top: -15px;
	right: -15px;
	float: right;	
}




