<!DOCTYPE html>
<html>
<head>
  <title>Pennant</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "fonts" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
